.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
  z-index: 1000;
}

.form-textarea {
  min-height: 300px;
  width: 100%;
}

.create-secret-form .help-block {
  margin-bottom: 10px;
}

.file-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2.5em 0;
  background: rgba(0,0,0,0.5);
  z-index: 1001;
}

.drop-text {
  color: #fff;
  font-size: 20px;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}